body{
    background-color: $background-color;
    color: $main-color-font;
    font-family: $main-font-family;
}

//LINKS
a{
    text-decoration: none;
    color: $main-color-font;
    &:active{
        color: $main-color-font;
    }
}

//LISTS
ul,
ol{
    list-style-type: none;
}

li{
    margin: 0 0.3rem;
}